<!DOCTYPE html>
<html>
  <head>
    <title>SplendidApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
  </head>

    <!-- Navbar (sit on top) -->
<% unless controller.controller_name == "pages" && controller.action_name == "index"%>
<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" style="display:none; background-color: teal; color:white;" id="leftMenu">
  <button onclick="closeLeftMenu()" class="w3-bar-item w3-button w3-large">Close &times;</button>
  <a href="/" class="w3-bar-item w3-button">Home</a>
  <% if current_user %>
  <a href="/dashboards/applicant" class="w3-bar-item w3-button">My Applications</a>
  <a href="/scholarships" class="w3-bar-item w3-button">Explore Scholarships</a>
  <a href="/logout" class="w3-bar-item w3-button">Logout</a>
  <a href="/answers" class="w3-bar-item w3-button">Answers</a>
  <% end %>
</div>

<div class="w3-teal">
  <button class="w3-button w3-teal w3-xlarge w3-left" onclick="openLeftMenu()">&#9776;</button>
  <div class="w3-container">
  <% if current_user %>
    <h1 style="color: white;">Welcome <%= current_user.first_name %>!</h1>
  <% end %>
  </div> 
</div>
<% end %>
  <body>
    <%= yield %>
  </body>
</html>
