<body>
  

  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("la.jpg", :alt => "Los Angeles") %>
      </div>
      <div class="carousel-item">
        <%= image_tag("grace.jpg", :alt => "Los Angeles") %>
      </div>
      <div class="carousel-item">
        <%= image_tag("nature.jpg", :alt => "Los Angeles") %>
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

  <div class="grid-spaceAround col-md-12">
    <a href="#">
      <div class="col-md-3">
        <div class="box">
          <%= image_tag("la.jpg", :alt => "Los Angeles", :class => "style_image") %>
          <div class="container">
            <h4>Topic 1</h4>
            <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. <br>
            Read more ..</p>
          </div>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="col-md-3">
        <div class="box">
          <%= image_tag("grace.jpg", :alt => "Los Angeles", :class => "style_image") %>
          <div class="container">
            <h4>Topic 1</h4>
            <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.<br>
            Read more ..</p>
          </div>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="col-md-3">
        <div class="box">
          <%= image_tag("la.jpg", :alt => "Los Angeles", :class => "style_image") %>
          <div class="container">
            <h4>Topic 1</h4>
            <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. <br>
            Read more ...</p>
          </div>
        </div>
      </div>
    </a>
  </div>

</body>

