<div class="w3-margin w3-padding-large">
<h3><strong>Create Application form for <%= @scholarship.title%></strong></h3>
<ul>
<% if @application.errors.any? %>
   <% @application.errors.full_messages.each do |message| %>
     <li class="model-errors"><%= message %></li> 
   <% end %>
<% end %>
</ul>
<%= form_tag '/applications', multipart: true, method: :post do  %>
  <div>
    First Name:
    <input type="text" name="first_name">
  </div>
  <div>
    Last Name: 
    <input type="text" name="last_name">
  </div>
  <div>
    Upload Your Personal statement
    <input type="file" name="personal_statement">
  </div>
  <div>
    <input type="hidden" name="user_id" class="form_control" value="<%= current_user.id %>">
  </div>
  <div>
    <input type="hidden" name="scholarship_id" class="form_control" value="<%= @scholarship.id %>">
  </div>
  <input type="submit" value="Submit">
<% end %>
</div>
