<div class="w3-margin">
  <div class="w3-margin">
    <%= form_tag "/answers?application_id=#{@application.id}", method: :post do  %>
        <% @scholarship.questions.each do |question| %>
            <div class="form-group">
            <label for="focusedInput"><%= question.title%></label>
            <textarea class="form-control" name="bodies[]text" rows="3"></textarea>
            </div>
            <div>
              <!-- <input type="hidden" name="bodies[]application_id" class="form_control" value="<%= @scholarship.id %>"> -->
            </div>
            <div>
              <input type="hidden" name="bodies[]question_id" class="form_control" value="<%= question.id %>">
            </div>
        <% end %>
        <%= button_to "Save",  class: "btn btn-success" %>
    <% end %>
  </div>
</div> 

