<h1>Edit Scholarship</h1>

<%= form_tag "/scholarships/#{@scholarship.id}", method: :patch do %>
  <div class="form-group">
     Title: <input type="text" name="title" class="form_control" value="<%= @scholarship.title %>">
  </div>
  <div class="form-group">
     Description: <input type="text" name="description" class="form_control" value="<%= @scholarship.description %>">
  </div>
  <div class="form-group">
      Organization:
      <select name="organization_id">
        <option value="" disabled selected>Select your option</option>
        <% @organizations.each do |organization| %>
          <option value="<%= organization.id %>"><%= organization.title %></option>
        <% end %>
      </select>
    </div>
    <input type="submit" value="Update Scholarship" class="btn btn-default">
  <% end %>